header.masthead {
    background-image: url("../assets/img/landing_page/travel.jpg");
}

#service2{
    margin-bottom: 10%;
}

.team-member {
    margin-bottom: 30px;
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
}

.team-member h4 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.team-member p {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #777;
}

/* Optional hover effect */
.team-member:hover img {
    border: 4px solid #ffc800;
    transition: border-color 0.3s ease-in-out;
}

/* Media query for responsive adjustments */
@media (max-width: 767px) {
    .team-member img {
        width: 120px;
        height: 120px;
    }

    .team-member h4 {
        font-size: 18px;
    }

    .team-member p {
        font-size: 14px;
    }
}